
/**********************************************************
App.js
**********************************************************/
.app-container {
    margin: 0 auto;
    min-width: 1200px;
    max-width: 1600px;
    min-height: 600px;
}

h2, h3, form {
    text-align: center;
    margin: 0;
}

.column {
    width: 20%;
    height: 100vh;
    min-height: 600px;
    float: left;
}

.title-container {
    padding: 15px 0;
    height: 15%;
}

.content-container {
    height: 85%;
    overflow: scroll;
}

.column button:hover,
.column input[type="button"]:hover,
.column input[type="submit"]:hover {
    transform: scale(1.1);
}


/**********************************************************
Login.js 
**********************************************************/
#login-background {
    background-image: url("./images/login-bg.png");
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form {
    margin-top: -30vh;
    background-color: #538c5a;
    padding: 20px;
    border: 2px solid 538c5a;
    border-radius: 10px;
    box-shadow: 0px 0px 15px;
}

.login-form h2:nth-child(2) {
    color: darkorange;
    background-color: royalblue;
}

.login-form h3 {
    padding-bottom: 5px;
}

.login-form label {
    font-weight: bold;
}
    
#id {
    text-align: center;
}

#login, #new-id {
    color: white;
    background-color:firebrick;
    border: none;
    height: 22px;
}

#login:hover,
#new-id:hover {
    background-color: darkorange;
}

#login {
    width: 80px;
}

#new-id {
    display: block;
    font-weight: bold;
    margin: 15px auto 0;
    width: 120px;
}


/**********************************************************
CollectionList.js 
**********************************************************/
.collectionList .title-container {
    background-color: #9c46f3;
}

.collectionList .content-container {
    background-color: mediumorchid;
}

.collectionList input {
    border: none;
}

.collectionList input[type="button"] {
    display: block;
    margin: 7px auto;
}

.title-container input[type="text"] {
    text-align: center;
    padding: 0 10px;
}

.lists {
    direction: rtl;
}

.lists div {
    padding: 5px 10px;
}

.lists h3 {
    direction: ltr;
}


/**********************************************************
Collection.js 
**********************************************************/
.collection {
    padding: 15px;
    direction: ltr;
}

.collection input {
    float: none;
}


/**********************************************************
Pokedex.js & MemberList.js 
**********************************************************/
.pokedex .title-container {
    background-color: #e02f2f;
}

.pokedex .content-container {
    background-color: #ff3f3f;
}

.memberList .title-container {
    background-color: darkorange;
}

.memberList .content-container {
    background-color: orange;
    text-align: center;
}

.pokedex .content-container div, 
.memberList .content-container div {
    clear: both;
    margin: 5px 10px;
}

.pokedex .content-container h3, 
.memberList .content-container h3 {
    display: inline-block;
}

.pokedex .content-container h3:hover, 
.memberList .content-container h3:hover {
    color: white;
}

.pokedex .content-container input, 
.memberList .content-container input {
    float: right;
}


/**********************************************************
Detail.js 
**********************************************************/
.detail {
    width: 40%;
    background-image: url("./images/grass.png");
    background-repeat: repeat;
}

.detail .title-container {
    text-align: center;
}

.detail .content-container {
    overflow: hidden;
    text-align: center;
}